USE [WundaWash]
GO
/****** Object:  Table [dbo].[MachineL]    Script Date: 30/10/2021 11:15:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MachineL](
	[Id_machine] [int] NOT NULL,
	[Model] [nchar](15) NOT NULL,
	[Lock] [bit] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[MachineL] ([Id_machine], [Model], [Lock]) VALUES (1, N'Vareron        ', 0)
INSERT [dbo].[MachineL] ([Id_machine], [Model], [Lock]) VALUES (2, N'Ciptumeg       ', 0)
INSERT [dbo].[MachineL] ([Id_machine], [Model], [Lock]) VALUES (3, N'Hapnippl       ', 1)
