USE [WundaWash]
GO
/****** Object:  Table [dbo].[Patron]    Script Date: 30/10/2021 11:17:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patron](
	[Id_patron] [int] IDENTITY(1,1) NOT NULL,
	[Phone] [int] NOT NULL,
	[Email] [nchar](50) NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Patron] ON 

INSERT [dbo].[Patron] ([Id_patron], [Phone], [Email]) VALUES (1, 212190313, N'wyole.xpemygdud@lpdoklglb.com                     ')
INSERT [dbo].[Patron] ([Id_patron], [Phone], [Email]) VALUES (2, 571408389, N'jzsw.fxpb@etdjwi.com                              ')
INSERT [dbo].[Patron] ([Id_patron], [Phone], [Email]) VALUES (3, 230712928, N'jvpdhn.mmhzdffnq@pgjywob.net                      ')
SET IDENTITY_INSERT [dbo].[Patron] OFF
